body {
    background-color: #f2f2ff;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #1abc9c;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in background 0.1s ease-in;
    -o-transition: color 0.1s ease-in background 0.1s ease-in;
    transition: color 0.1s ease-in background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1pm solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#section-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: visible;
    font: normal 16/24px 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-seriff';
}

#section-topbar a {
    color: #fff;
}

#topbar-inner {
    background: #111;
    line-height: 0;
    text-align: center;
}

#section-topbar ul#nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border-right: 1px solid #222;
    zoom: 1;
    *display: inline;
}

#section-topbar ul#nav>li {
    display: block;
    float: left;
    padding: 0;
}

#section-topbar ul#nav>li {
    display: block;
    font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 18px 20px 18px 20px;
    border-left: 1px solid #222;
}

#section-topbar ul#nav a:focus {
    background-color: #111;
    text-decoration: none;
    border-left: 1px solid #111;
}

#section-topbar ul#nav a:hover {
    background: #222;
    text-decoration: none;
    border-left: 1px solid #111;
}

#section-topbar ul#nav .active a {
    background: #44bbaa;
    border-left: 1px solid #111;
}

#section-topbar ul#nav .active a:hover {
    background: #44bbaa;
}

#section-topbar i {
    font-size: 25px;
}

#headerwrap {
    background: url(../assets/dev.jpg) no-repeat center top;
    margin-top: 60px;
    padding-top: 140px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    font-size: 80px;
    color: white;
}

#headerwrap h3 {
    font-size: 20px;
    color: #fff;
}

#intro {
    background: #2c3e50;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
}

#intro h5,
p {
    color: #fff;
}

#intro i {
    color: #fff;
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}

#skillswrap {
    background: #2c3e50;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

#skillswrap h5,
p {
    color: #fff;
}

#footwrap {
    background: #2f2f2f;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footwrap h5,
p {
    color: #fff;
}

#footwrap t {
    font-weight: 700;
}

#footwrap a.social {
    padding: 5px;
    zoom: 1.5;
    -moz-transform: scale(2);
    -moz-transform-origin: right center;
}

#copyrights {
    background: #222222;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

#copyrights p {
    margin: 0 0 5px 0;
}

.credits {
    color: #999;
}

.desc {
    padding-top: 50px;
}

.desc p {
    color: #2f2f2f;
}

.desc t {
    color: #34495e;
    font-weight: 700;
}

.desc imp {
    padding: 6px;
    color: white;
    background: #34495e;
}

.desc more {
    color: #95a5a6;
}

sm {
    font-size: 12px;
}

@-webkit-keyframes animate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}